html, body {
    font-family: Arial;
    margin: 0;
    height: 100%;
    color: #1a1a1a;
}
ul {
    list-style: none;
}
a {
    color: #111111;
    text-decoration: none;
}
header {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    background: rgb(255, 255, 255);
    font-size: 20px;
    overflow: hidden;
    border-bottom: 1px solid rgb(180, 180, 180);
}
header div{
    display: inline-block;
}
header a:hover {
    color: rgb(80, 80, 80);
}
header a + a {
    padding-left: 15px;
}

header .navbar-home{
    position: relative;
    margin-left: 20px;
    font-size: 22px;
    margin-left: 75px;
}
header .logo {
    margin-left: 15px;
    width: 32px;
    height: 32px;
    vertical-align: middle;
}
header .navbar-right{
    float: right;
    margin-right: 75px;
    transform: translateY(5px);
}
header .navbar-menu{
    font-size: 18px;
    margin-right: 50px;
}
header .log-button{
    border: solid;
    border-color: #111111;
    border-width: 1px 1px;
    padding: 8px;
}
header .log-button:hover{
    background-color: #f7f7f7;
    color: #111111;
}